<a [routerLink]="['/profile/preferencias']" class="config"><i class="fas fa-cog"></i></a>
<div class="perfil">
    <div class="presentacion">
        <img src="./assets/profiledefault.png">
        <h3>Yenn</h3>
        <div class="links">
            <a><i class="far fa-heart"></i></a>
            <a><i class="far fa-comments"></i></a>
        </div>
        <hr />
        <div class="descripcion">
            ⠽⠑⠝⠝⠊⠋⠑⠗
        </div>
        <hr />
        <div class="info">
            <div class="pair">
                <i class="fas fa-map-marker-alt"></i>
                <h5>Iquique</h5>
            </div>
            <div class="pair">
                <i class="fas fa-user-graduate"></i>
                <h5>Estudiante</h5>
            </div>
            <div class="pair">
                <i class="fas fa-smoking-ban"></i>
                <h5>No fuma</h5>
            </div>
            <div class="pair">
                <i class="	fas fa-beer"></i>
                <h5>No bebe</h5>
            </div>
            <div class="pair">
                <i class="fas fa-glass-cheers"></i>
                <h5>No hace fiestas</h5>
            </div>
            <div class="pair">
                <i class="fas fa-baby-carriage"></i>
                <h5>No tiene hijos</h5>
            </div>
        </div>
    </div>
</div>