<div class="container form-container">
    <h2 class="text-center mb-5 g-3">Recuperar contraseña</h2>
    <form class="row" #resetpw="ngForm" (ngSubmit)="onSubmit(resetpw)">
        <div>
            <label for="email">Email</label>
            <input type="email" class="form-control" ngModel #email="ngModel" name="email" placeholder="Ingrese su nombre de usuario" required email>
            <div class="text-danger mt-1" *ngIf="email.touched && email.invalid">
                <p *ngIf="email.errors?.['required']">Campo obligatorio</p>
                <p *ngIf="email.errors?.['email']">Ingrese una direccion de correo valida</p>
            </div>
            <div class="text-success mt-1" *ngIf="email.valid">Perfecto!</div>
        </div>

        <button [disabled]="resetpw.invalid" class="btn btn-success mt-2 py-2">Enviar correo de recuperacion</button>
    </form>
</div>