.form-container {
    margin-top: 15vh;  
    max-width: 600px;
    padding: 1rem;

    form {
        border: solid 1px rgb(197, 197, 197);
        border-radius: 0.25rem;
        padding: 1rem;
    }
}